<head>
  <div class="header-bg"></div>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   
</head>
<div class="a1">
  <h1 class="title">Students Calculator</h1>

  <div class="a2">
    <p>calculators available are....</p>
    <div class="c1">
      <a href="/attendance" class="x1">Calculate Attendance %</a>
      <a href="/required_days" class="x1">Find Days Needed for 75%</a>
      <a href="/gpa" class="x1">GPA Calculator</a>
    <div>
  <div>
<div>
<div class="footer">
    <p>Created by - Rajesh Kumar |  SRM MCET</p>
</div>